:root {
  --primary-color: #5b9bd5; /* Primary color for buttons and highlights */
  --background-color: #ecf5ff;
  --text-color: #333;
  --font-family: 'Roboto', sans-serif;
  --border-radius: 5px; /* Rounded corners for inputs and buttons */
  font-size: 62.5%;
}

#background-music {
  width: 100;
  height: 3000;
  background-color: transparent;
}
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
  color: var(--primary-color);
}

h3 {
  font-size: 2.3rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* FORMS */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 35 rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-shadow: none; /* Removed box-shadow for a cleaner look */
}

input::placeholder {
  color: #aaa;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }

  .btn {
    width: 100%;
    padding: 1rem;
  }

  input {
    padding: 1rem;
  }
}

.box {
  width: 100%;
  max-width: 35rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Add a border */
  box-sizing: border-box; /* Include the border in the box dimensions */
}

/* CSS */
.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button-84:active {
  outline: 0;
}

.button-84:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}

#loader .content {
  display: flex;
}

#loader .content .image-container, 
#loader .content .login-box {
  flex: 1;
}

#loader .content .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}